<div class="entity-table-container flex flex-col">
	<div class="header w-full flex flex-row justify-between">
		<div class="table-title">{{ tableTitle }}</div>

		<div class="search-container">
			<input-wrapper [prefixIcon]="'bi-search'">
				<input type="text" placeholder="Search..." />
			</input-wrapper>
		</div>
	</div>

	<div class="body">
		<table>
			<thead>
				<tr>
					@for (column of columns; track column.key) {
						<th [ngClass]="'col-size-' + column.size">{{ column.label }}</th>
					}
				</tr>
				<th></th>
			</thead>
			<tbody>
				@for (row of data(); track getEntityFieldValue(row, 'id')) {
					<tr>
						@for (column of columns; track column.key) {
							<td [ngClass]="'col-size-' + column.size">
								{{ getEntityFieldValue(row, column.key) }}
							</td>
						}
					</tr>
				}
			</tbody>
		</table>

		<div class="list-view">
			@for (entry of data(); track getEntityFieldValue(entry, 'id')) {
				<div class="list-entry">{{ getEntityFieldValue(entry, 'name') }}</div>
			}
		</div>
	</div>
</div>
