@use 'sass:map';
@use '../../../assets/variables' as *;

.input-wrapper-container {
	border: 1px solid map.get($light-colors, border);
	border-radius: map.get($border, radius);
	padding: 4px 6px;
	gap: map.get($space, sm);

	&:focus-within {
		border-color: map.get($light-colors, primary);
	}
}

.input-wrapper-container .bi {
	color: map.get($light-colors, text);
}

.input-wrapper-container ::ng-deep input {
	width: 100%;
	border: none !important;
	border-radius: 0 map.get($border, radius) map.get($border, radius) 0;

	&:focus {
		outline: none;
		border: none;
		box-shadow: none;
	}
}
