@use 'sass:map';
@use './variables' as *;

::ng-deep table {
	width: 100%;
	border-collapse: collapse;
	box-sizing: border-box;
}

::ng-deep table thead tr {
	border-bottom: 1px solid map.get($light-colors, border);
}

::ng-deep table thead th {
	text-align: left;
	font-weight: 500;
	font-size: smaller;
	color: map.get($light-colors, text-neutral);
	padding: 0 map.get($space, sm);
	padding-bottom: map.get($space, sm);
}

::ng-deep table tbody tr {
	text-align: left;
	font-size: smaller;

	td {
		padding: map.get($space, sm);
	}

	&:hover {
		background-color: map.get($light-colors, hover);
	}
}
