$device-size: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

$layout: (
	header: 75px,
	body: auto,
	nav-v: 250px,
	nav-v-collapsed: 56px,
	nav-h-width: 400px,
	nav-h-height: 80px,
);

$light-colors: (
	primary: #4f46e5,
	secondary: #f97316,
	background: #fffeff,
	foreground: #cacedc,
	foreground-light: #eaebee,
	foreground-disabled: #edeef2,
	text: #19202e,
	text-light: #fffeff,
	text-neutral: #636a82,

	hover: #e9e8ee,
	border: #d8dbe6,

	alert: #ef4444,
);

$space: (
	sm: 8px,
	md: 16px,
	lg: 32px,
	fake-center-bottom-push: 150px,
);

$border: (
	radius: 6px,
);
