$device-size: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

$light-colors: (
	primary: #4f46e5,
	secondary: #f97316,
	background: #fffeff,
	foreground: #cacedc,
	foreground-light: #eaebee,
	text: #111827,
	text-light: #fffeff,
	text-neutral: #bcc4df,
	hover: #e9e8ee,

	alert: #ef4444,
);

$space: (
	sm: 8px,
	md: 16px,
	lg: 32px,
	fake-center-bottom-push: 150px,
	nav: 250px,
	nav-collapsed: 56px,
);

$border: (
	radius: 6px,
);
