// Colors
$color-primary: #4f46e5; // main accent color
$color-secondary: #f97316; // secondary accent / highlight
$color-background: #fffeff; // page background
$color-foreground: rgb(202, 206, 220);
$color-text: #111827; // main text color
$color-text-light: #fffeff;
$color-text-neutral: #bcc4df;

// Spacing
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;

$fake-center-bottom-push: 150px;

// Border radius
$border-radius: 6px;
