@use 'sass:map';
@use 'tailwindcss';
@use './assets/variables' as *;

* {
	box-sizing: border-box;
	transition: all 122ms linear;
}

html,
body {
	margin: 0 !important;
	height: 100% !important;
	font-family: sans-serif;
	scroll-behavior: smooth;
	color: map.get($light-colors, text);
}

a {
	text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button {
	border: none !important;
	border-radius: map.get($border, radius) !important;
	cursor: pointer !important;
}

input {
	padding: 4px 6px;
	font-size: medium;

	&::placeholder {
		color: map.get($light-colors, text-neutral);
		font-size: small;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	box-sizing: border-box;
}

table thead tr {
	border-bottom: 1px solid map.get($light-colors, border);
}

table thead th {
	text-align: left;
	font-weight: 500;
	font-size: smaller;
	color: map.get($light-colors, text-neutral);
	padding-bottom: map.get($space, sm);
}
